{
  "openapi": "3.0.0",
  "info": {
    "description": "Consultas de DNI y RUC - **Perú**\n\n## GraphQL\nEndpoint `api/graphql`\n",
    "version": "4.0",
    "title": "PERU CONSULTAS",
    "contact": {
      "name": "Giancarlos Salas",
      "email": "giansalex@gmail.com"
    }
  },
  "tags": [
    {
      "name": "RENIEC",
      "description": "Registro Nacional de Identificación y Estado Civil."
    },
    {
      "name": "SUNAT",
      "description": "Superintendencia Nacional de Aduanas y de Administración Tributaria."
    }
  ],
  "security": [
    {
      "ApiToken": []
    }
  ],
  "servers": [
    {
      "url": "http://consult.api/api/v1",
      "description": "PRODUCTION"
    }
  ],
  "paths": {
    "/dni": {
      "post": {
        "tags": [
          "RENIEC"
        ],
        "summary": "DNI Multiple",
        "description": "Retorna informacion segun los dnis",
        "operationId": "getByDnis",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 8,
                  "maxLength": 8
                }
              }
            }
          },
          "description": "Lista de Dnis",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DniResponse"
                }
              }
            }
          },
          "404": {
            "description": "No es una lista de dnis"
          }
        }
      }
    },
    "/dni/{dni}": {
      "get": {
        "tags": [
          "RENIEC"
        ],
        "summary": "DNI",
        "description": "Retorna informacion segun el dni",
        "operationId": "getByDni",
        "parameters": [
          {
            "name": "dni",
            "in": "path",
            "description": "Dni de la persona",
            "required": true,
            "example": "46658592",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DniResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dni invalido o no encontrado"
          }
        },
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "using System.Net;\r\nusing Newtonsoft.Json;\r\n\r\nvar dni = \"00000001\";\r\nvar token = \"YOUR-TOKEN\";\r\n\r\nusing (WebClient wc = new WebClient())\r\n{\r\n   var json = wc.DownloadString(\"http://consulta.pe/api/v1/dni/\"+dni+\"?token=\"+token);\r\n   var person = JObject.Parse(json);\r\n}"
          },
          {
            "lang": "PHP",
            "source": "$dni = '00000001';\r\n$token = 'YOUR-TOKEN';\r\n\r\n$json = file_get_contents('http://consulta.pe/api/v1/dni/'.$dni.'?token='.$token);\r\n\r\n$person = json_decode($json);\r\n"
          }
        ]
      }
    },
    "/ruc": {
      "post": {
        "tags": [
          "SUNAT"
        ],
        "summary": "RUC Multiple",
        "description": "Retorna informacion segun los rucs",
        "operationId": "getByRucs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 11,
                  "maxLength": 11
                }
              }
            }
          },
          "description": "Lista de Rucs",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RucResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No es una lista de rucs"
          }
        }
      }
    },
    "/ruc/{ruc}": {
      "get": {
        "tags": [
          "SUNAT"
        ],
        "summary": "RUC",
        "description": "Retorna información segun el ruc",
        "operationId": "getByRuc",
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "description": "Ruc de la empresa",
            "required": true,
            "example": "20100070970",
            "schema": {
              "type": "string",
              "minLength": 11,
              "maxLength": 11
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RucResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ruc invalido o no encontrado"
          }
        },
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "using System.Net;\r\nusing Newtonsoft.Json;\r\n\r\nvar ruc = \"20000000001\";\r\nvar token = \"YOUR-TOKEN\";\r\n\r\nusing (WebClient wc = new WebClient())\r\n{\r\n   var json = wc.DownloadString(\"http://consulta.pe/api/v1/dni/\"+ruc+\"?token=\"+token);\r\n   var company = JObject.Parse(json);\r\n}"
          },
          {
            "lang": "PHP",
            "source": "$ruc = '20000000001';\r\n$token = 'YOUR-TOKEN';\r\n\r\n$json = file_get_contents('http://consulta.pe/api/v1/ruc/'.$ruc.'?token='.$token);\r\n\r\n$company = json_decode($json);\r\n"
          }
        ]
      }
    },
    "/user-sol/{ruc}/{user}": {
      "get": {
        "tags": [
          "SUNAT"
        ],
        "summary": "Verificación usuario SOL",
        "description": "Retorna la válidez del usuario SOL",
        "operationId": "getValidUserSol",
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "description": "Ruc del contribuyente",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 11,
              "maxLength": 11
            }
          },
          {
            "name": "user",
            "in": "path",
            "description": "usuario Clave SOL",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "using System.Net;\r\nusing Newtonsoft.Json;\r\n\r\nvar ruc  = \"20000000001\";\r\nvar user = \"MODDATOS\";\r\nvar token = \"YOUR-TOKEN\";\r\n\r\nusing (WebClient wc = new WebClient())\r\n{\r\n   var json = wc.DownloadString($\"http://consulta.pe/api/v1/user-sol/{ruc}/{user}?token={token}\");\r\n   var isValid = JObject.Parse(json);\r\n}"
          },
          {
            "lang": "PHP",
            "source": "$ruc  = '20000000001';\r\n$user = 'MODDATOS';\r\n$token = 'YOUR-TOKEN';\r\n\r\n$json = file_get_contents(\"http://consulta.pe/api/v1/user-sol/$ruc/$user?token=$token\");\r\n\r\n$isValid = json_decode($json);\r\n"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DniResponse": {
        "type": "object",
        "properties": {
          "dni": {
            "type": "string",
            "example": "00000001"
          },
          "nombres": {
            "type": "string"
          },
          "apellidoPaterno": {
            "type": "string"
          },
          "apellidoMaterno": {
            "type": "string"
          },
          "codVerifica": {
            "type": "string"
          }
        }
      },
      "RucResponse": {
        "type": "object",
        "properties": {
          "ruc": {
            "type": "string",
            "example": "20123456789"
          },
          "razonSocial": {
            "type": "string"
          },
          "nombreComercial": {
            "type": "string"
          },
          "telefonos": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tipo": {
            "type": "string"
          },
          "estado": {
            "type": "string"
          },
          "condicion": {
            "type": "string"
          },
          "direccion": {
            "type": "string"
          },
          "departamento": {
            "type": "string"
          },
          "provincia": {
            "type": "string"
          },
          "distrito": {
            "type": "string"
          },
          "fechaInscripcion": {
            "type": "string",
            "format": "date"
          },
          "sistEmsion": {
            "type": "string"
          },
          "sistContabilidad": {
            "type": "string"
          },
          "actExterior": {
            "type": "string"
          },
          "actEconomicas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cpPago": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sistElectronica": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fechaEmisorFe": {
            "type": "string",
            "format": "date"
          },
          "cpeElectronico": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fechaPle": {
            "type": "string",
            "format": "date"
          },
          "padrones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiToken": {
        "name": "token",
        "type": "apiKey",
        "in": "query",
        "description": "Token de acceso"
      }
    }
  }
}
